@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>LoL Boosting</title>
    <link href="~/css/index.css" rel="stylesheet">

</head>
<body>
    <div class="center">
        <h1 class="display-4">League of Legends boosting service</h1>
        <p>Get your ranks up now!</p>
        <br />  
        <br />  
    </div>
    <div class="main">
        <img src="~/images/Sponge.jpg" alt="Sponge">
        <ul style="font-family: Comic Sans MS, cursive, sans-serif">
            <li>
                Iron -> Bronze ($500)
            </li>
            <li>
                Bronze -> Silver ($550)
            </li>
            <li>
                Silver -> Gold ($600)
            </li>
            <li>
                Gold -> Platinum ($800)
            </li>
            <li>
                Platinum -> Diamond ($1000)
            </li>
        </ul>
        <p>You can check the boosters OP.GG <a href="https://eune.op.gg/summoner/userName=Turilolz">here</a>.</p>
        <br />
        <br />
        <p>Enter your email here to get in contact with us!</p>
        <form method="post">
            <input name="email" type="text" placeholder="Your email"/>
            <button>Send</button>
        </form>
    </div>
</body>
 </html>






